<IfModule mod_rewrite.c>
RewriteEngine on
#If you use Apache directive Alias to access web folder - specify path to it in RewriteBase.
#RewriteBase /examples/web
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php
</IfModule>